---
layout: null
title: Enable India - Home Page
description: Empwering young India become more enterprise ready.
sitemap:
    priority: 1.0
    lastmod: 2018-01-29
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">ENABLE INDIA</a></h2>
									<p>“Thinking is the capital, Enterprise is the way, Hard Work is the solution”
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>

							</article>

              <section align="justify">

                The objective of this program is to equip the students with employability skills, knowledge and ability.
                This is done through an intensive 2 day monthly engagement spanning over 10 months. In this program, the
                students will discover their strengths and areas of improvement through periodic assessments on employability
                readiness index (ERI). The program thus curates a journey from where they currently are to their destination
                on dream careers.
                <br>
                <br>

                <h3>SALIENT FEATURES OF THE PROGRAM</h3>
                The approach adopted is a curriculum based, periodic interventions & industry led mode of mentorship program.
                These periodic interventions will be aimed at equipping the students with the knowledge, skills and abilities
                which have been identified as critical for employability. The salient features of  the program are as follows:
                <ul>
                  <li> Employability oriented curriculum providing exposure to Campus Selection Process, Industry Expectation, Domain
                    Expertise & Latest global developments.</li>
                  <li> Mentoring by Practising industry faculty</li>
                  <li> Small Batch Size ( 20-25 students ) to enable focus on each participant</li>
                  <li> Focus on each mentee through Customised Development Action Plans </li>
                  <li> Periodic Assessments of Employability Readiness Index (ERI) to track the progress of each mentee on key
                    parameters relating to employability </li>
                  <li> Continuous engagement ( monthly touch points ) allowing space for student to reflect, learn and implement.
                    We believe that such an approach has a more sustained impact than intermittent training interventions.</li>
              </section>
						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:4 %}
                    <article>
                        <header>
                            <span class="date">{{ post.date | date_to_string }}</span>
                            <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                        </header>
                        <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                        <p align="center">{{ post.excerpt }}</p>
                        <ul class="actions">
                            <li><a href="{{ post.url | absolute_url }}" class="button">More</a></li>
                        </ul>
                    </article>
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/programs/" | absolute_url }}" class="button">All Programs</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
